body{
    background-color: honeydew;
}

header{
    background-color: tomato;
    text-align: center;
    color: rgb(240, 240, 240);
    font-weight: bolder;
    font-size: xx-large;

}

#navigate{
    position: sticky;
    top: 0%;
    z-index: 1;
}

.menu{
    margin: 0%;
    background-color: burlywood;
}

.menu li{
    display: inline-block;
    padding: 5px;  
}

.menu li a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding: 5px;
}

.menu li a:hover{
    background-color: whitesmoke;
    color: tomato;
    cursor: pointer;
}

.dropdown{
    position: absolute;
    display: none;
    top: 27.5px;
    background-color: orange;
    padding: 0%;
    margin: 0%;
    opacity: 0.9;
}

.dropdown li{
    display: block;
    padding-left: 0%;
    padding-right: 0%;
}

.dropdown li a:hover{
    background-color: lightgrey;
    color: tomato;
    font-weight: bold;
}

.menu li:nth-child(2):hover .dropdown, .menu li:nth-child(3):hover .dropdown{
    display: block;
    opacity: 0.8;
}

